<!DOCTYPE html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <title>Register</title>
  <!-- plugins:css -->
  <link rel="stylesheet" href="{{.base_url}}assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="{{.base_url}}assets/vendors/base/vendor.bundle.base.css">
  <!-- endinject -->
  <!-- plugin css for this page -->
  <!-- End plugin css for this page -->
  <!-- inject:css -->
  <link rel="stylesheet" href="{{.base_url}}assets/css/style.css">
  <!-- endinject -->
  <link rel="shortcut icon" href="{{.base_url}}assets/images/favicon.png" />
</head>

<body>
  <div class="container-scroller">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
      <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
          <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
              <div class="brand-logo">
                <img src="{{.base_url}}assets/images/logo.svg" alt="logo">
              </div>
              <h4>New here?</h4>
              <h6 class="font-weight-light">Signing up is easy. It only takes a few steps</h6>
              <form class="pt-3">
                <div class="form-group">
                  <input type="text" class="form-control form-control-lg" id="username" placeholder="Username">
                </div>
                <div class="form-group">
                  <input type="email" class="form-control form-control-lg" id="email" placeholder="Email">
                </div>
                <div class="form-group">
                    <input type="number" class="form-control form-control-lg" id="age" placeholder="Age">
                </div>
                <div class="form-group">
                  <input type="password" class="form-control form-control-lg" id="password" placeholder="Password">
                </div>
                <div class="mt-3">
                  <a class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn" onclick="ajaxRegister()">SIGN UP</a>
                </div>
                <div class="text-center mt-4 font-weight-light">
                  Already have an account? <a href="{{.base_url}}" class="text-primary">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
  </div>
  <!-- container-scroller -->
  <!-- plugins:js -->
  <script src="{{.base_url}}assets/vendors/base/vendor.bundle.base.js"></script>
  <!-- endinject -->
  <!-- inject:js -->
  <script src="{{.base_url}}assets/js/off-canvas.js"></script>
  <script src="{{.base_url}}assets/js/hoverable-collapse.js"></script>
  <script src="{{.base_url}}assets/js/template.js"></script>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <!-- endinject -->
  <script>
    var username = $("#username");
    var password = $("#password");
    var email = $("#email")
    var age = $("#age")
    var urlRegister = "{{.base_url}}users/register"
    function ajaxRegister() {
      if (username.val() == '' || password.val() == '' || email.val() == '' || age.val < 9) {
          swal({
              title:"Upss!!!",
              text: "All inputs are required",
              icon: "warning",
          })
          return false
      }
      var row_data = {
        email: email.val(),
        password: password.val(),
        age: parseInt(age.val()),
        username: username.val()
      }
      $.ajax({
          url: urlRegister,
          method: "POST",
          data:JSON.stringify(row_data),
          success: function (resp) {
            swal({
                  title:"Congratulations!",
                  text: resp.responseJSON.message,
                  icon: "success",
                  timer:"3000",
                  buttons:false,
                  closeOnClickOutside: false
                }).then(()=>{
                    window.location.href = "{{.base_url}}"
                })
          },
          error: function (resp) {
              swal({
                title:"Upss!!!",
                text: resp.responseJSON.message,
                icon: "warning",
              })
          }
      })
    
    }
  </script>
</body>

</html>
